body
{
	//background-color: rgb(187, 210, 225);
	color:black;
	background-image:url(background.png);
	background-attachment:fixed;
	margin: 30px 20% 30px 20%;
	background-size:cover;
}
ul
{
	list-style:none;
}
h3
{
	color: rgb(38,97,156);
	font-size: 23px;
}
.cv
{
	display: flex;
	justify-content: space-around;
}
.cv h3
{
	display: flex;
	justify-content: center;
}
.presentation h1
{
	color: rgb(219,0,115);
	font-size: 35px;
}
.presentation
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: radial-gradient(circle at center, white,rgb(131, 166, 151));
	//background-color: rgb(200, 173, 127);
	border-radius: 10px;
}
.diplome
{
	color: rgb(38,97,156);
	font-size: 18px;
	text-align: center;
}
.diplome h2
{
	font-style: italic;
}
.presentation h3
{
	color: rgb(38,97,156);
	font-size: 25px;
	font-style: italic;
}
.experience span
{
	font-weight: bold;
	color: rgb(199,44,72);
}
.formation span
{
	font-weight: bold;
	color: rgb(199,44,72);
}
.droite
{
	display: flex;
	flex-direction: column;
	flex-basis: 65%;
	//background-color: rgb(167, 103, 38);
	background-image: radial-gradient(circle at center, white,rgb(153, 122, 144));
	padding-left: 7%;
	border-radius: 10px;
}
.coordonnees
{
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
}
.telephone
{
	color: rgb(33,23,125);
	font-weight: 700;
}
.adresse
{
	color: rgb(33,23,125);
	font-weight: 700;
}
.gauche
{
	flex-basis: 35%;
	//background-color: rgb(187, 172, 172);
	background-image: radial-gradient(circle at center, white,rgb(187, 172, 172));
	border-radius: 10px;
}
.savoir_etre
{
	justify-content: center;
}
.all
{
	margin: 0 auto 0 auto;
}
