body
{
	background-color: rgb(204,204,255);

}
h3
{
	color: rgb(121,28,248);
	font-size: 23px;
}
.cv
{
	display: flex;
	justify-content: space-around;
}
.cv h3
{
	display: flex;
	justify-content: center;
}

.presentation h1
{
	color: rgb(219,0,115);
	font-size: 35px;
}
.presentation
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.diplome
{
	color: rgb(75,0,130);
	font-size: 18px;
}


.presentation h3
{
	color: rgb(38,97,156);
	font-size: 25px;
	font-style: italic;
}
.experience span
{
	font-weight: bold;
	color: rgb(199,44,72);
}
.formation span
{
	font-weight: bold;
	color: rgb(199,44,72);
}
.droite
{
	display: flex;
	flex-direction: column;
}
.coordonnees
{
	display: flex;
	justify-content: space-evenly;
}
.telephone
{
	color: rgb(33,23,125);
	font-weight: 700;
}
.adresse
{
	color: rgb(33,23,125);
	font-weight: 700;
}